<!-- TODO: replace the contents of this file with your own html -->
<div class="dashboardinfo" id="dashboardinfo">
	<div class="dashboard-notification-module">
	    <div class="palm-dashboard-icon-container">
	         <div id="dashboard-icon" class="palm-dashboard-icon dashboard-icon-fsq">
	         </div>
	    </div>
	    <div class="palm-dashboard-text-container">
	         <!--<div class="dashboard-title">
	           neato!
	         </div>
	        <div id="dashboard-text" class="palm-dashboard-text">Connecting...</div>-->
	        <div id="card-button" x-mojo-touch-feedback="immediate"></div>
	        <div id="prefs-small-button" x-mojo-touch-feedback="immediate"></div>
	        <div id="send-small-button" x-mojo-touch-feedback="immediate"></div>
	        <div id="dashboard-text" class="palm-dashboard-text-undo">Wait...</div>
	    </div>
	</div>
</div>

<div id="stateHandler" style="display:none;"></div>