<!-- TODO: replace the contents of this file with your own html -->
<div class="palm-dark">
	<div class="" id="nheader">
		<!--<div x-mojo-element="ToggleButton" id="enabled" class="togglebuttonClass" 
 name="togglebuttonName"></div>-->
	</div>
	
	<div class="palm-group">
		<div class="palm-group-title">neato text!</div>
		<div class="palm-list">
			<div class="palm-row single">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
	      				<div x-mojo-element="TextField" id="text-content"></div>
					</div>
				</div>
			</div>
			<!--<div class="palm-row last" >
				<div class="palm-row-wrapper">
					<div x-mojo-element="Button" class="palmbutton primary" id="copyText"></div>
					<div x-mojo-element="Button" class="palmbutton primary" id="emailText"></div>
					<div x-mojo-element="Button" class="palmbutton primary" id="smsText"></div>
				</div>
			</div>-->
		</div>
	</div>
	
	<div id="actionList" x-mojo-element="List" ></div>  					

</div>
