<div>
	<div id='addfriend-header'>
		<span id="addtip-title" class="palm-dialog-title">Enter Your Name</span>
	</div>
	<div class="palm-group unlabeled" id='friend'>
		<div class="palm-list">
	   		<div class="palm-row single">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
	      				<div x-mojo-element="TextField" id="nameField"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div x-mojo-element="Button" class="palmbutton primary" id="saveButton"></div>
</div>