<!-- TODO: replace the contents of this file with your own html -->
<div class="palm-dark">
	<div class="" id="nheader">
		<!--<div x-mojo-element="ToggleButton" id="enabled" class="togglebuttonClass" 
 name="togglebuttonName"></div>-->
	</div>
	
	<div class="palm-group">
		<div class="palm-group-title">download!</div>
		<div class="palm-list">
			<div class="palm-row first">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
	      				<div id="url"></div>
					</div>
				</div>
			</div>
			<div class="palm-row last" >
				<div class="palm-row-wrapper">
					<div x-mojo-element="Button" class="palmbutton primary" id="downloadURL"></div>
					<div x-mojo-element="Button" class="palmbutton secondary" id="launchURL"></div>
				</div>
			</div>
		</div>
	</div>
	<div x-mojo-element="ProgressPill" id="progress" class="progressbarClass"  name="progressbarName" style="visibility: hidden;"></div> 
</div>
