<!-- TODO: replace the contents of this file with your own html -->
<div id="add" class="palm-dark">
	<div class="palm-page-header multi-line">
	  <div class="palm-page-header-wrapper">
	    <div class="icon"></div>
	    <div class="title un-capitalize">
	      cause &amp; effect<br>
	      Add Task
	    </div>
	  </div>
	</div>
	
	<div class="palm-list">
		<div class="palm-row first">
			<div class="palm-row-wrapper" x-mojo-focus-highlight="true">
				<div x-mojo-element="ListSelector" id="listCause" class="listselectorClass" name="listselectorName"></div> 
 			</div>
		</div>
		<div class="palm-row">
			<div class="palm-row-wrapper" x-mojo-focus-highlight="true">
				<div x-mojo-element="ListSelector" id="listValue" class="listselectorClass" name="listselectorName"></div> 
 			</div>
		</div>
		<div class="palm-row">
			<div class="palm-row-wrapper" x-mojo-focus-highlight="true">
				<div x-mojo-element="ListSelector" id="listEffect" class="listselectorClass" name="listselectorName"></div> 
 			</div>
		</div>
		<div class="palm-row last">
			<div class="palm-row-wrapper">
				<div class="textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div class="label">What</div>
						<div x-mojo-element="TextField" id="textWhat" class="listselectorClass" name="listselectorName"></div> 
					</div>
	 			</div>
			</div>
		</div>
	</div>
	
	<div x-mojo-element="Button" id="Save"></div>
</div>
