<!-- TODO: replace the contents of this file with your own html -->
<div class="">
	<div class="" id="nheader">
		<!--<div x-mojo-element="ToggleButton" id="enabled" class="togglebuttonClass" 
 name="togglebuttonName"></div>-->
	</div>
	
	<div class="palm-group">
		<div class="palm-group-title">About the App</div>
		<div class="palm-list">
			<div class="palm-row single">
				<div class="padded">
					neato! was written and developed by Geoffrey Gauchet. Follow him on Twitter <a href="http://mobile.twitter.com/zhephree">@zhephree</a>.<br/>
					<br/>
					The app uses PubSubHubBub technology to allow your web browser to push information to your phone. It uses a simple JavaScript API layer called <a href="http://www.pubnub.com">PubNub</a>.<br/>
					<br/>
					Normally, this app would be free, but PubNub charges for every 5000 requests sent in a 24hr period. That will go quickly from everyday use, so the cost of this app helps pay for PubNub credits, as well as my hosting and bandwidth fees for the URL and bookmark generation.
				</div>
			</div>
		</div>
	</div>
</div>
